# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

.github/CODEOWNERS      @owen-kidsloop

libs/config/**          @owen-kidsloop
libs/event-sender/**    @owen-kidsloop
